.wrapper

  = render 'shared/side_bar'

  .chat-main
    .header
      .left-header
        .left-header__group-name
          グループ名
        %ul.left-header__group-members
          member :
          %li.member
            一郎
          %li.member
            二郎
          %li.member
            三郎
      .right-header
        .right-header__button
          edit

    .messages
      = render @messages
    
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'